.logo {
  background-color: transparent;
  color: rgb(75, 8, 8);
  text-shadow: 2px 1px 0 #f6f6f6, 3px 3px 0 #dac7c4;
  font-family: "Emilys Candy", cursive;
}
.n-items {
  font-family: "Source Code Pro", monospace;
}
